/*
GLOBAL STYLES FOR BJWEIRUI
*/
body,button,input,select,textarea{font:14px/1.8 tahoma,arial,'Microsoft YaHei', \5FAE\8F6F\96C5\9ED1, SimSun, \5b8b\4f53, sans-serif;}

body{
  background: #e6e6e6;
  padding-bottom: 40px;
  color: #5a5a5a;
}

/*CUSTOMSIZE THE NAVBAR*/
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  width: 100%;

}

.navbar-container{
  padding: 0;
  width: 100%;
  background: #fff;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-default{ background: #fff; }
.navbar-default .navbar-nav > li > a{ color: #0e5369; }
.navbar-brand{  vertical-align: middle;  padding: 5px 15px 5px 0;}

.is-sticky{ width: 100%; }


/* MAIN  LAYOUT FOR MOST PAGES */

.main-summary {  width: 100%; height: 300px; overflow: hidden;   }
.main-box { width: 100%;  }


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 78px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0;
    width: 1170px;
    margin: 0 auto;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}



/* 个性化元素  */

/* 公司简介 PAGE */
.center-title{ text-align: center; }
.company-culture-content{ text-align: center; }
.business-scope-content{ text-align: center; }

/* 公司动态 PAGE */
.news-items-list{ list-style: none;  margin-left: 150px; margin-top: 15px;}
.item{ list-style: none;  margin-bottom: 15px;}
.news-date{ margin-left: -150px; width: 150px; float: left;  text-align: right; padding-right:  20px;  font-size: 16px; font-weight: 700; font-family: vender}
.news-title{ font-size: 14px; font-weight: 700; }
.news-title a{ color: #333; }

/* 诚聘英才 PAGE*/

.colum-box{ width: 260px;  display: inline-block; vertical-align: top; margin-right: 20px; }
.last-one{ margin-right: 0; }
.colum-box-title{ position: relative; width: 100%; height: 200px;  }

.colum-box-content{ background-color: #fff; width: 100%;  height: 200px; position: relative; padding: 30px;}

.color-caret{ position: absolute; width: 0; height: 0; bottom: 0; right: 0;}

.color-box-1 a{ display: block; position:absolute; width: 100%; height: 100%;   background:url(../../img/content/colum-box01.png) no-repeat center center; opacity:1; z-index: 9; }
.color-box-1 a:hover{ background-color:#79a9a6;  }

.color-box-2 a{ display: block; position:absolute; width: 100%; height: 100%;   background:url(../../img/content/colum-box02.png) no-repeat center center; opacity:1; z-index: 9; }
.color-box-2 a:hover{ background-color:#9f84b6;  }

.color-box-3 a{ display: block; position:absolute; width: 100%; height: 100%;   background:url(../../img/content/colum-box03.png) no-repeat center center; opacity:1; z-index: 9; }
.color-box-3 a:hover{ background-color:#b69384;  }

.color-box-4 a{ display: block; position:absolute; width: 100%; height: 100%;   background:url(../../img/content/colum-box04.png) no-repeat center center; opacity:1; z-index: 9; }
.color-box-4 a:hover{ background-color:#b6b584;  }

.color-box-1 .colum-mask{ width: 100%; height: 100%; background: #79a9a6; opacity: 0.6; filter: alpha(opacity=60); z-index: 1;}
.color-box-2 .colum-mask{ width: 100%; height: 100%; background: #9f84b6; opacity: 0.6; filter: alpha(opacity=60); z-index: 1;}
.color-box-3 .colum-mask{ width: 100%; height: 100%; background: #b69384; opacity: 0.6; filter: alpha(opacity=60); z-index: 1;}
.color-box-4 .colum-mask{ width: 100%; height: 100%; background: #b6b584; opacity: 0.6; filter: alpha(opacity=60); z-index: 1;}

.color-box-1 .color-caret{  border-bottom:  40px solid #79a9a6; border-top: 40px solid transparent; border-left: 40px solid transparent;   }
.color-box-2 .color-caret{  border-bottom:  40px solid #9f84b6; border-top: 40px solid transparent; border-left: 40px solid transparent;   }
.color-box-3 .color-caret{  border-bottom:  40px solid #b69384; border-top: 40px solid transparent; border-left: 40px solid transparent;   }
.color-box-4 .color-caret{  border-bottom:  40px solid #b6b584; border-top: 40px solid transparent; border-left: 40px solid transparent;   }

.liucheng{ height: 200px; background:url(../../img/content/liucheng.png) #febf80 no-repeat center center; }
.zhuyi{ height: 200px; background:url(../../img/content/zhuyi.png) #92c425 no-repeat center center;  }

.job-block-left{ background-color: #e6e6e6; padding: 10px 20px; margin-top: 20px; }
.job-block-right{ margin-top: 5px; }

.job-list-head{ border-top: solid #8c9192 2px; height: 40px; line-height: 40px;  font-size: 16px; padding: 5px 0; }
.job-list-head span{ font-weight: 700;  padding: 0 5px; }
  .job-name{ }
  .job-number{ }
  .job-address{ }

.job-list-item{ margin-bottom: 10px; position: relative;  }
.job-list-item span{  padding: 0 5px; height: 30px; line-height: 30px; }
.job-list-item i.iconfont{ color: #8fc31f; position: absolute;  text-align: right; vertical-align: bottom; height: 30px;  right: 0; top:4px;  font-size: 18px; font-weight: 700; cursor: pointer;}

.detail-box{ display: none; position: relative; border: solid 1px #939c9c; padding: 10px 20px; margin-top: 25px;  }
.item-corner{
  position: absolute;
  top: -40px;
  left: 30px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent; 
  border-right: 20px solid transparent;
  border-bottom: 20px solid #909596; 
  border-left: 20px solid transparent; 
}
.item-corner-white{
  position: absolute;
  font-size: 0;
  top: -19px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent; 
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff; 
  border-left: 20px solid transparent; 
  z-index: 90;
}